/* EventList.css */
.event-list {
    width: 75%;
    padding: 20px;
  }
  
  .event-card {
    display: flex;
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 10px;
    background-color: #5b4b8a;
    color: #fff;
  }
  
  .event-image {
    width: 100px;
    height: 100px;
    margin-right: 20px;
    border-radius: 10px;
  }
  
  .event-info h3 {
    display: flex;
    align-items: center;
    margin: 0;
  }
  
  .status.finished {
    background-color: #e57373;
    color: #fff;
    padding: 2px 6px;
    border-radius: 5px;
    margin-left: 8px;
    font-size: 0.8em;
  }
  
  .event-tags {
    display: flex;
    gap: 5px;
    margin: 8px 0;
  }
  
  .tag {
    background-color: #82c4aa;
    color: #fff;
    padding: 4px 8px;
    border-radius: 5px;
    font-size: 0.8em;
  }
  
  .event-date {
    font-size: 0.9em;
    color: #ccc;
  }
  
  .event-description {
    margin: 10px 0;
  }
  
  .details-button {
    background-color: #6d9dff;
    color: #fff;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .details-button:hover {
    background-color: #5377cc;
  }
  