/* General App styling */
.App {
  text-align: center;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.App-header {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

/* Login and Signup Page Styling */
.container {
  display: flex;
  height: 100vh;
  width: 100vw;
  font-family: 'Arial', sans-serif;
}

/* Left side - Image Container */
.image-container {
  flex: 1;
  background-color: #85BAA1; /* Cambridge Blue */
  display: flex;
  justify-content: center;
  align-items: center;
}

.image-container img {
  width: 80%;
  height: auto;
}

/* Right side - Form Container */
.form-container {
  flex: 1;
  padding: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
}

h2 {
  margin-bottom: 20px;
}

form {
  width: 100%;
  max-width: 300px;
  display: flex;
  flex-direction: column;
}

label {
  margin-bottom: 15px;
  font-size: 14px;
}

.input-field {
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #CCC;
  border-radius: 5px;
  width: 100%;
  background-color: #CEEDDB; /* Honeydew */
}

.login-button,
.signup-button {
  padding: 10px;
  background-color: #E0E0E0;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.login-button:hover,
.signup-button:hover {
  background-color: #CCC;
}

p {
  margin-top: 20px;
  font-size: 14px;
  color: #6E8894; /* Slate Gray */
}

a {
  color: #007BFF;
  text-decoration: none;
  cursor: pointer;
}

/* Button specific styles */
button {
  margin-top: 15px;
  background-color: #544E61; /* English Violet */
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #67597A; /* Chinese Violet */
}

/* Ensure the container looks good on mobile and small screens */
@media (max-width: 768px) {
  .container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .image-container {
    width: 100%;
    height: 40%;
  }

  .form-container {
    width: 100%;
    padding: 20px;
  }
}
